.DS_Store?
*.DS_Store
.Rproj.user
data/vcf
.vcf*
.zarr*
*.ipynb_*
.ipynb_checkpoints/*
output/*
docs/_build
debug/*.txt
debug/*.vcf*
.vscode/*
pixy_tmp*
debug_temp*

__pycache__/
.coverage
.python-version
